use flake

DATABASE_URL=""
# Check that db_url is available
if ! test -f ./target/debug/db_url; then
# Prompt the user for the database URL, default to sqlite:/opt/zerohr/db/rootrunner.db
    # DATABASE_URL="$(read -p "Enter the database URL [default: sqlite:/opt/zerohr/db/rootrunner.db]: " input && echo $input)"
    if [ -z "$DATABASE_URL" ]; then
        DATABASE_URL="sqlite:/opt/zerohr/db/rootrunner.db"
    fi
else
    DATABASE_URL="$(./target/debug/db_url)"
fi

DATABASE_FILE="$(echo "$DATABASE_URL" | cut -d ':' -f 2)"

export DATABASE_URL
export DATABASE_FILE